<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Pekerja</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag "></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag "></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Daftar Pekerja</h2>
        </div>
        <form th:object="${deleteDTO}">
            <table id="table-pekerja" class="table table-striped">
                <div class="alert alert-warning" role="alert">
                    Catatan: Pekerja yang tidak dapat terpilih sudah memiliki relasi dengan suatu proyek
                </div>
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Nama</th>
                        <th scope="col" class="text-center">Usia</th>
                        <th scope="col" class="text-center">Pekerjaan</th>
                        <th scope="col" class="text-center">Proyek</th>
                        <th scope="col" class="text-center">Action</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pekerja : ${listPekerja}">
                        <td th:text="${pekerja.nama}"></td>
                        <td class="text-center" th:text="${pekerja.usia}"></td>
                        <td th:text="${pekerja.pekerjaan}"></td>
                        <td>
                            <ul>
                                <li th:each="proyek: ${pekerja.getListProyek()}" th:text="${proyek.nama}"></li>
                            </ul>
                        </td>
                        <td>
                            <div class="text-center">
                                <a type="button" class="btn btn-md btn-primary"
                                    th:href="@{/pekerja/rest/{idPekerja}(idPekerja=${pekerja.id})}">Detail
                                </a>
                                <a type="button" class="btn btn-md btn-warning"
                                   th:href="@{/pekerja/rest/{idPekerja}/update(idPekerja=${pekerja.id})}">Update
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="checkbox" class="form-check-input" id="flexCheckDefault"
                                    th:field="*{listPekerja}" th:value="${pekerja.id}"
                                    th:disabled="${pekerja.getListProyek() != null and pekerja.getListProyek().size() > 0}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center m-3">
                <button type="submit" class="row btn btn-danger">Delete Selected</button>
                <div>
                    <a type="button" class="btn btn-primary m-2" href="/pekerja/rest/add">Tambah Pekerja</a>
                    <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('form').on('submit', function(e){
            e.preventDefault();

            const listPekerja = [];
            $('.form-check-input:checked').each(function() {
                listPekerja.push($(this).val())
            })

            $.ajax({
                url: '/api/pekerja/delete',
                type: 'DELETE',
                data: JSON.stringify(listPekerja),
                contentType: 'application/json',
                success: function (data) {
                    alert(data.message)
                    location.reload()
                },
                error: function (data) {
                    alert(data.message)
                    location.reload()
                }
            })
        })
    })
</script>
</html>